
<div class="col-lg-3 pt-1 order-lg-1 order-2 text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-6 mb-3">
                <a asp-page="/PictureGallery"><img src="~/Theme/assets/Images/Banner-GalleryImages.png" alt="گالری تصاویر کانون کارآفرینی استان آذربایجان غربی" title="گالری تصاویر کانون کارآفرینی استان آذربایجان غربی" class="img-fluid rad12"></a>
            </div>
            <div class="col-lg-12 col-6 mb-3">
                <a asp-page="/SubmitIdea"><img src="~/Theme/assets/Images/Banner-SubmitIdea.png" alt="ثبت ایده، طرح های خلاق و نوآور" title="ثبت ایده، طرح های خلاق و نوآور" class="img-fluid rad12"></a>
            </div>
            <div class="col-lg-12 col-6 mb-3">
                <a asp-page="/CounselingCenters"><img src="~/Theme/assets/Images/Banner-CounselingCenters.png" alt="مراکز مشاوره کانون کارآفرینی استان آذربایجان غربی" title="مراکز مشاوره کانون کارآفرینی استان آذربایجان غربی" class="img-fluid rad12"></a>
            </div>
            <div class="col-lg-12 col-6 mb-2">
                <a asp-page="/EntrepreneurCafes"><img src="~/Theme/assets/Images/Banner-EntrepreneurCafe.png" alt="کافه های کانون کارآفرینی استان آذربایجان غربی" title="کافه های کانون کارآفرینی استان آذربایجان غربی" class="img-fluid rad12"></a>
            </div>
            <img src="~/Theme/assets/Images/foot.png" class="mx-auto text-center" />
        </div>
    </div>
</div>