
<footer class="rel-footer mt-5">
    <div id="footer-content">
        <div class="container">
            <div class="row pt-4 mx-2">
                <div class="col-lg-2 col-sm-6 py-3 order-lg-1 order-1">
                    <h5 class="IRANSansWeb_Medium"> لینک های سریع : </h5>
                    <ul>
                        <li>
                            <a asp-page="/Managers" target="_blank" title="">اعضای هیئت امنا</a>
                        </li>
                        <li>
                            <a asp-page="/ArticleCategory" target="_blank" title="">اخبار و رویدادها</a>
                        </li>
                        <li>
                            <a asp-page="/PictureGallery" target="_blank" title="">گالری تصاویر کانون کارآفرینی</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 py-3 order-lg-2  order-3">
                    <h5 class="IRANSansWeb_Medium">پیوندها : </h5>
                    <ul>
                        <li>
                            <a href="Faq.html" target="_blank" title="">سوالات متداول</a>
                        </li>

                        <li>
                            <a href="Login.html" target="_blank" title="">ورود</a>
                        </li>
                        <li>
                            <a href="Register.html" target="_blank" title="">عضویت</a>
                        </li>
                        <li>
                            <a href="AboutUs.html" target="_blank" title="">درباره ما</a>
                        </li>
                        <li>
                            <a href="ContactUs.html" target="_blank" title="">تماس با ما </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 col-sm-6 pr-lg-4 py-3 IRANSansWeb_FaNum  order-lg-3  order-2">
                    <h5 class="IRANSansWeb_Medium"> ارتباط با ما : </h5>
                    <p><i class="fas fa-2x fa-map-marker-alt ml-2"></i>آدرس : شهرستان گنبدکاووس - خیابان آزادگان - میدان فراغی  </p>
                    <p><i class="fas fa-2x fa-phone ml-2"></i>تلفن : 01733224455</p>
                    <p><i class="fas fa-2x fa-mobile-alt ml-2"></i>تلفن همراه : 09301234567</p>
                    <p><i class="fas fa-2x fa-fax ml-2"></i>نمابر : 09301234567</p>
                </div>
                <div class="col-lg-3 col-sm-6 col-sm-4 py-3 order-lg-4 order-4">
                    <h5 class="IRANSansWeb_Medium">دانلود اپلیکیشن : </h5>
                    <div class="d-flex flex-column">
                        <a href="#"><img src="~/Theme/assets/Images/googleplay.png" class="p-2" /></a>
                        <a href="#"><img src="~/Theme/assets/Images/bazar.png" class="p-2" /></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="footer-copyright">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <a asp-page="/Index" class="text-white ">
                        کلیه حقوق این سایت متعلق به <strong>کانون کارآفرینی استان آذربایجان غربی</strong> می باشد .
                    </a>
                    <br />
                    <a asp-page="/Index" class="text-white ">

                        طراح و برنامه نویس سایت : <strong>نوید قوامی</strong> <strong>(navid_ghavami@outlook.com)</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>