<!DOCTYPE html>
<html>
<head>

    <title>@ViewData["Title"]  "کانون کارآفرینی استان آذربایجان غربی"</title>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="fa" />
    <meta name="document-type" content="Public" />
    <meta name="document-rating" content="General" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Ofoghata" />

    <link href="~/Theme/assets/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Theme/assets/Css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/Theme/assets/Css/animate.css" rel="stylesheet" />
    <link href="~/Theme/assets/Css/Style.css" rel="stylesheet" />
    <link href="~/Theme/assets/Css/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Theme/assets/Css/sina-nav.min.css" rel="stylesheet" />
    <script src="~/Theme/assets/Js/jquery-2.0.0.min.js"></script>
    <script src="~/Theme/assets/Js/bootstrap.min.js"></script>

    <script src="~/Theme/assets/Js/owl.carousel.js"></script>
    <script src="~/Theme/assets/Js/custom.js"></script>
    <script src="~/Theme/assets/Js/sina-nav.min.js"></script>

    <!--<link href="~/Theme/assets/Css/all.min.css" rel="stylesheet" />
    <script src="~/Theme/assets/Js/all.min.js"></script>-->
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/Css/all.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/Js/all.min.js"></script>*@

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.~/Theme/assets/Js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="home">

    <div id="fixed-social">
        <div>
            <a href="#" class="fixed-linkedin" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
        <div>
            <a href="#" class="fixed-instagrem" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>

        <div>
            <a href="#" class="fixed-facebook" target="_blank"><i class="fab fa-facebook"></i></a>
        </div>
        <div>
            <a href="#" class="fixed-twitter" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
        <div>
            <a href="#" class="fixed-whatsapp" target="_blank"><i class="fab fa-whatsapp"></i></a>
        </div>


    </div>

    <section id="tophead" class="container-fluid p-2 grad-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-5 d-lg-block d-none">
                    <a asp-page="/Index"><img src="~/Theme/assets/Images/logo2.png" class="img-fluid" /></a>
                </div>

                <div class="col-lg-3 col-6 mr-auto">
                    <div class="d-flex flex-column">
                        <span class="text-white">
                            امروز : @DateTime.Now.ToString("dddd, dd MMMM yyyy")
                        </span>
                        <form class="d-sm-block d-none">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="جستجو ..">
                                <div class="input-group-prepend">
                                    <button class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

                <div class="col-lg-1 col-6  text-left">
                    <img src="~/Theme/assets/Images/flag.png" class="pt-sm-4 flag" />
                </div>
            </div>
        </div>
    </section>

    <header class="nav-container">
        <nav class="sina-nav mobile-sidebar navbar-fixed" data-top="60">
            <div class="container">

                <div class="extension-nav">
                    <ul class="pt-2">
                        <li>
                            <a id="loginbtn" href="Login.html" class="btn btn-link p-1 ml-2">
                                <img src="~/Theme/assets/Images/Svg/login.svg" /> ورود
                            </a>
                        </li>
                        <li>
                            <a id="loginbtn" href="Register.html" class="btn btn-link p-1 ml-2">
                                <img src="~/Theme/assets/Images/Svg/user.svg" />عضویت
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sina-nav-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="sina-brand pl-4 d-lg-none d-block" asp-page="/Index">
                        <img src="~/Theme/assets/Images/logo.png" class="img-fluid" />
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="sina-menu sina-menu-center">
                        <li><a asp-page="Index">صفحه اصلی</a></li>
                        <li><a href="Blog.html">اخبار و رویدادها</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">برگه ها<i class="fa  fa-arrow-down pr-2"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="Blogdetails.html">جزئیات اخبار</a></li>
                                <li><a href="Component.html">المان ها</a></li>
                                <li><a href="Features.html">ویژگی ها</a></li>
                                <li><a href="Guide.html">راهنمای استفاده</a></li>
                                <li><a href="Price.html">جدول تعرفه</a></li>
                                <li><a href="404.html">صفحه 404</a></li>

                            </ul>
                        </li>


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">سایر برگه ها<i class="fa  fa-chevron-down pr-2"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="Service.html">خدمات</a></li>
                                <li><a href="Success.html">ثبت موفق</a></li>
                                <li><a href="UnSuccess.html">ثبت ناموفق</a></li>
                                <li><a href="Waiting.html">صفحه انتظار</a></li>
                                <li><a href="Blank.html">صفحه خالی</a></li>

                                <!--<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-chevron-left float-left"></i>زیر منو</a>
                                    <ul class="dropdown-menu drop">
                                        <li><a href="#">زیر منو 1</a></li>
                                        <li><a href="#">زیر منو 2</a></li>
                                        <li><a href="#">زیر منو 3</a></li>
                                    </ul>
                                </li>-->
                            </ul>
                        </li>
                        <li><a asp-page="/Managers">اعضای هیئت امنا</a></li>
                        <li><a asp-page="/PictureGallery">گالری تصاویر</a></li>
                        <li><a href="AboutUs.html">درباره ما</a></li>
                        <li><a href="ContactUs.html">ارتباط با ما</a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>


    @RenderBody()


    @await Component.InvokeAsync("Footer")


    <script src="~/Theme/assets/Js/sina-nav.min.js"></script>

</body>
</html>
