@model List<_01_Query.Contract.Partners.PartnersQueryModel>


<section class="container text-center pt-4 mt-5">
    <h5 class="IRANSansWeb_Medium bt-color">نمایندگان و همکاران ما</h5>
    <p>مفتخریم که با شما نمایندگان و همکاران عزیز همکاری داریم و در ارتباط هستیم</p>
    <div id="owl-province" class="owl-carousel">
        @foreach (var item in Model)
        {
            <div class="card mx-2">
                <a href="@item.Link">
                    <img src="~/Pictures/@item.Picture" alt="@item.PictureAlt" title="@item.PictureTitle" class="rad25" />
                    <p class="IRANSansWeb_Medium pt-2">@item.Name</p>
                </a>
            </div>
        }

    </div>

</section>