
<section class="container mt-4 text-center">
    <h5 class="IRANSansWeb_Medium  bt-color">خدمات ما</h5>
    <p>ثبت نام ها، اخبار و رویدادها ، اعضای هیئت امنا</p>
    <div id="owl-Service" class="owl-carousel">
        <div class="card mx-1">
            <div class="card-body">
                <a href="#">
                    <img class="rounded-circle" src="~/Theme/assets/Images/TrueEntrepreneurLogo.png" alt="ثبت نام و عضویت کارآفرین حقیقی استان آذربایجان غربی" title="ثبت نام و عضویت کارآفرین حقیقی استان آذربایجان غربی">
                </a>
                <h6>کارآفرین حقیقی</h6>
                <p>ثبت نام و عضویت کارآفرین حقیقی استان آذربایجان غربی</p>
                <a asp-page="/TrueEntrepreneur" class="btn btn-grad px-5 text-white mt-3 rad25">ورود به سامانه </a>
            </div>
        </div>
        <div class="card mx-1">
            <div class="card-body">
                <a href="#">
                    <img class="rounded-circle" src="~/Theme/assets/Images/LegalLogo.png" alt="ثبت نام و عضویت کارآفرین حقوقی استان آذربایجان غربی" title="ثبت نام و عضویت کارآفرین حقوقی استان آذربایجان غربی">
                </a>
                <h6>کارآفرین حقوقی</h6>
                <p>ثبت نام و عضویت کارآفرین حقوقی استان آذربایجان غربی</p>
                <a asp-page="/LegalEntrepreneur" class="btn btn-grad px-5 text-white mt-3 rad25">ورود به سامانه</a>
            </div>
        </div>
        <div class="card mx-1">
            <div class="card-body">
                <a href="#">
                    <img class="rounded-circle" src="~/Theme/assets/Images/BenefactorLogo.png" alt="ثبت نام و عضویت کارآفرین خیّر استان آذربایجان غربی" title="ثبت نام و عضویت کارآفرین خیّر استان آذربایجان غربی">
                </a>
                <h6>کارآفرین خیّر</h6>
                <p>ثبت نام و عضویت کارآفرین خیّر استان آذربایجان غربی</p>
                <a asp-page="/BenefactorEntrepreneur" class="btn btn-grad px-5 text-white mt-3 rad25">ورود به سامانه</a>
            </div>
        </div>
        <div class="card mx-1">
            <div class="card-body">
                <a href="#">
                    <img class="rounded-circle" src="~/Theme/assets/Images/StudentLogo.png" alt="ثبت نام و عضویت کارآفرینان دانش آموز استان آذربایجان غربی" title="ثبت نام و عضویت کارآفرینان دانش آموز استان آذربایجان غربی">
                </a>
                <h6>کارآفرینان دانش آموز</h6>
                <p>ثبت نام و عضویت کارآفرینان دانش آموز استان آذربایجان غربی</p>
                <a asp-page="/StudentEntrepreneur" class="btn btn-grad px-5 text-white mt-3 rad25">ورود به سامانه</a>
            </div>
        </div>
        <div class="card mx-1">
            <div class="card-body">
                <a href="#">
                    <img class="rounded-circle" src="~/Theme/assets/Images/rahyarLogo.png" alt="ثبت نام و عضویت کارآفرینان مربی / رهیار استان آذربایجان غربی" title="ثبت نام و عضویت کارآفرینان مربی / رهیار استان آذربایجان غربی">
                </a>
                <h6>کارآفرینان مربی / رهیار</h6>
                <p>ثبت نام و عضویت کارآفرینان مربی / رهیار استان آذربایجان غربی</p>
                <a asp-page="/RahyarEntrepreneur" class="btn btn-grad px-5 text-white mt-3 rad25">ورود به سامانه</a>
            </div>
        </div>
        <div class="card mx-1">
            <div class="card-body">
                <a href="#">
                    <img class="rounded-circle" src="~/Theme/assets/Images/ManagerLogo.png" alt="اعضای هیئت امنا استان آذربایجان غربی" title="اعضای هیئت امنا استان آذربایجان غربی">
                </a>
                <h6>اعضای هیئت امنا</h6>
                <p>اعضای هیئت امنا استان آذربایجان غربی</p>
                <a asp-page="/Managers" class="btn btn-grad px-5 text-white mt-3 rad25">مشاهده</a>
            </div>
        </div>

    </div>

</section>