@using _0_Framework.Application
@model _01_Query.MenuModel
@inject IAuthHelper AuthHelper

<div class="extension-nav">
    <ul class="pt-2">
        @if (AuthHelper.IsAuthenticated())
        {

            <li>

                <a id="loginbtn" asp-page="/Account" asp-page-handler="Logout" class="btn btn-link p-1 ml-2">
                    <img src="~/Theme/assets/Images/Svg/logout.svg" /> خروج
                </a>

            </li>
        }
        else
        {
            <li>
                <a id="loginbtn" asp-page="/Account" class="btn btn-link p-1 ml-2">
                    <img src="~/Theme/assets/Images/Svg/login.svg" /> ورود
                </a>
            </li>
        }

        @*<li>
            <a id="loginbtn" asp-page="/Register" class="btn btn-link p-1 ml-2">
                <img src="~/Theme/assets/Images/Svg/user.svg" />عضویت
            </a>
        </li>*@
    </ul>
</div>
<div class="sina-nav-header">
    <button type="button" class="navbar-toggle" style="background-color: darkcyan; width: 5px; height: 5px" data-toggle="collapse" data-target="#navbar-menu">
        <i class="fa fa-bars text-center text-white"></i>
    </button>
    <a class="sina-brand pl-4 d-lg-none d-block" asp-page="/Index">
        <img src="~/Theme/assets/Images/logo.png" class="img-fluid" />
    </a>
</div>

<div class="collapse navbar-collapse" id="navbar-menu">
    <ul class="sina-menu sina-menu-center">
        <li><a asp-page="Index">صفحه اصلی</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">اخبار و رویدادها<i class="fa  fa-arrow-down pr-2"></i></a>
            <ul class="dropdown-menu">

                @foreach (var item in Model.ArticleCategories)
                {
                    <li><a asp-page="/NewsCategory" asp-route-id="@item.Slug">@item.Name</a></li>
                }

            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ثبت نام کارآفرینان<i class="fa  fa-arrow-down pr-2"></i></a>
            <ul class="dropdown-menu">
                <li><a asp-page="/TrueEntrepreneur">کارآفرین حقیقی</a></li>
                <li><a asp-page="/LegalEntrepreneur">کارآفرین حقوقی</a></li>
                <li><a asp-page="/BeneFactorEntrepreneur">کارآفرین خیّر</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">کارآفرینان نوجوان<i class="fa  fa-arrow-down pr-2"></i></a>
            <ul class="dropdown-menu">
                <li><a asp-page="/StudentEntrepreneur">ثبت نام دانش آموزان</a></li>
                <li><a asp-page="/RahyarEntrepreneur">ثبت نام مربی / رهیار</a></li>
            </ul>
        </li>

        <li><a asp-page="/Managers">اعضای هیئت امنا</a></li>
        <li><a asp-page="/AboutUs">درباره ما</a></li>
        <li><a asp-page="/ContactUs">ارتباط با ما</a></li>

        @if (AuthHelper.IsAuthenticated())
        {
            <li><a asp-page="/Index" asp-area="Administration">مدیریت سایت</a></li>
            <li><a asp-page="/Index">@AuthHelper.CurrentAccountInfo().FullName عزیز، خوش آمدید!</a></li>



        }
    </ul>

</div>
