
<section class="container text-center pt-4 mt-5">
    <h5 class="IRANSansWeb_Medium bt-color">نمایندگان و همکاران ما</h5>
    <p>مفتخریم که با شما نمایندگان و همکاران عزیز همکاری داریم و در ارتباط هستیم</p>
    <div id="owl-province" class="owl-carousel">
        <div class="card mx-2">
            <a href="#">
                <img src="~/Theme/assets/Images/17.jpg" class="rad25" />
                <p class="IRANSansWeb_Medium pt-2">لورم ایپسوم</p>
            </a>
        </div>

    </div>

</section>