@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<section class="container mt-2">
    <div class="row">
        <div class="col-lg-3 pt-1 order-lg-1 order-2 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-6 mb-3">
                        <a href="#"><img src="~/Theme/assets/Images/banner1-min-1.png" class="img-fluid rad12"></a>
                    </div>
                    <div class="col-lg-12 col-6 mb-3">
                        <a href="#"><img src="~/Theme/assets/Images/banner1-min-2.png" class="img-fluid rad12"></a>
                    </div>
                    <div class="col-lg-12 col-6 mb-3">
                        <a href="#"><img src="~/Theme/assets/Images/banner1-min-3.png" class="img-fluid rad12"></a>
                    </div>
                    <div class="col-lg-12 col-6 mb-2">
                        <a href="#"><img src="~/Theme/assets/Images/banner1-min-4.png" class="img-fluid rad12"></a>
                    </div>
                    <img src="~/Theme/assets/Images/foot.png" class="mx-auto text-center" />
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("Slider")
    </div>

</section>

<section class="container mt-4 text-center">
    <h5 class="IRANSansWeb_Medium  bt-color">خدمات ما</h5>
    <p>کلیه خدمات قابل ارائه لورم ایپسوم از صنعت چاپ </p>
    <div id="owl-Service" class="owl-carousel">
        <div class="card mx-1">
            <div class="card-body">
                <a href="#">
                    <img class="rounded-circle" src="~/Theme/assets/Images/11.jpg" alt="">
                </a>
                <h6>عنوان یک</h6>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                <a href="#" class="btn btn-grad px-5 text-white mt-3 rad25">مشاهده</a>
            </div>
        </div>
        <div class="card mx-1">
            <div class="card-body">
                <a href="#">
                    <img class="rounded-circle" src="~/Theme/assets/Images/12.jpg" alt="">
                </a>
                <h6>عنوان دو</h6>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                <a href="#" class="btn btn-grad px-5 text-white mt-3 rad25">مشاهده</a>
            </div>
        </div>
        <div class="card mx-1">
            <div class="card-body">
                <a href="#">
                    <img class="rounded-circle" src="~/Theme/assets/Images/11.jpg" alt="">
                </a>
                <h6>عنوان سه</h6>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                <a href="#" class="btn btn-grad px-5 text-white mt-3 rad25">مشاهده</a>
            </div>
        </div>
        <div class="card mx-1">
            <div class="card-body">
                <a href="#">
                    <img class="rounded-circle" src="~/Theme/assets/Images/14.jpg" alt="">
                </a>
                <h6>عنوان چهار</h6>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                <a href="#" class="btn btn-grad px-5 text-white mt-3 rad25">مشاهده</a>
            </div>
        </div>
        <div class="card mx-1">
            <div class="card-body">
                <a href="#">
                    <img class="rounded-circle" src="~/Theme/assets/Images/16.jpg" alt="">
                </a>
                <h6>عنوان پنج</h6>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                <a href="#" class="btn btn-grad px-5 text-white mt-3 rad25">مشاهده</a>
            </div>
        </div>
        <div class="card mx-1">
            <div class="card-body">
                <a href="#">
                    <img class="rounded-circle" src="~/Theme/assets/Images/12.jpg" alt="">
                </a>
                <h6>عنوان شش</h6>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                <a href="#" class="btn btn-grad px-5 text-white mt-3 rad25">مشاهده</a>
            </div>
        </div>

    </div>

</section>


@await Component.InvokeAsync("Articles")


<section class="container mt-4 mb-5">
    <div id="foottop" class="row p-3 mx-2 mt-2 grad-bg text-center text-white rad25">
        <div class="col-lg-4">
            <a asp-page="/Index"><img src="~/Theme/assets/Images/logo2.png" /></a>
        </div>
        <div class="col-lg-8">
            <h6 class="mb-2 IRANSansWeb_Medium"></h6>
            <br />
            <a asp-page="/ContactUs" class="rounded-btn text-white text-center support-phone IRANSansWeb_Bold">جهت ارتباط با ما کلیک نمایید</a>
        </div>
    </div>
    <img src="~/Theme/assets/Images/foot.png" class="float-left ml-5" />
</section>


@await Component.InvokeAsync("Representatives_Partners")
