@page
@model ServiceHost.Pages.RahyarEntrepreneurModel


@{
    ViewData["Title"] = "ثبت نام کارآفرین حقیقی";
}

<section class="container-fluid mt-3 error404">
    <div class="container p-3 box">
        <div class="row">
            <div class="col-md-12">
                <h4 class="bt-color pb-3 IRANSansWeb_Light pr-4">عضویت مربی / رهیار کانون کارآفرینی استان آذربایجان غربی</h4>
                <hr />
                <hr />
                <br />
                <div>
                    <form method="post" style="padding-right: 15px; padding-left: 15px;" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <label class="control-label" for="rahyarName">نام </label>
                                <input class="form-control" name="rahyarName" id="rahyarName" type="text" placeholder="نام" required oninvalid="this.setCustomValidity('لطفا نام خود را وارد کنید')">
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <label class="control-label" for="rahyarFamily">نام خانوادگی</label>
                                <input class="form-control" name="rahyarFamily" id="rahyarFamily" type="text" placeholder="نام و نام خانوادگی" required oninvalid="this.setCustomValidity('لطفا نام خانوادگی خود را وارد کنید')">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3">
                                <label class="control-label" for="rahyarNationalId">کد ملی </label>
                                <input class="form-control" name="rahyarNationalId" id="rahyarNationalId" type="text" placeholder="کد ملی 10 رقمی" required oninvalid="this.setCustomValidity('لطفا کد ملی 10 رقمی خود را وارد کنید')">

                            </div>
                            <div class="col-lg-3 col-md-3">
                                <label class="control-label" for="rahyarBirthDate">تاریخ تولد</label>
                                <input class="form-control" name="rahyarBirthDate" id="rahyarBirthDate" type="text" placeholder="تاریخ تولد: 1372/11/26" required oninvalid="this.setCustomValidity('لطفا تاریخ تولد خود را وارد کنید')">
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <label class="control-label" for="rahyarEducation">مقطع تحصیلی</label>
                                <input class="form-control" name="rahyarEducation" id="rahyarEducation" type="text" placeholder="مقطع تحصیلی" required oninvalid="this.setCustomValidity('لطفا مقطع تحصیلی خود را وارد کنید')">
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <label class="control-label" for="rahyarCourse">رشته تحصیلی</label>
                                <input class="form-control" name="rahyarCourse" id="rahyarCourse" type="text" placeholder="رشته تحصیلی" required oninvalid="this.setCustomValidity('لطفا رشته تحصیلی خود را وارد کنید')">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <label class="control-label" for="rahyarCity">شهر محل سکونت </label>
                                <input class="form-control" name="rahyarCity" id="rahyarCity" type="text" placeholder="شهر محل سکونت" required oninvalid="this.setCustomValidity('لطفا شهر محل سکونت خود را وارد کنید')">

                            </div>
                            <div class="col-lg-4 col-md-4">
                                <label class="control-label" for="rahyarPhone">تلفن ثابت</label>
                                <input class="form-control" name="rahyarPhone" id="rahyarPhone" type="text" placeholder="مثال: 02112345678" required oninvalid="this.setCustomValidity('لطفا تلفن ثابت خود را وارد کنید')">
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <label class="control-label" for="rahyarMobile">موبایل</label>
                                <input class="form-control" name="rahyarMobile" id="rahyarMobile" type="text" placeholder="مثال: 09121234567" required oninvalid="this.setCustomValidity('لطفا موبایل خود را وارد کنید')">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <label class="control-label" for="rahyarAddress">آدرس محل سکونت </label>
                                <input class="form-control" name="rahyarAddress" id="rahyarAddress" type="text" placeholder="آدرس محل سکونت" required oninvalid="this.setCustomValidity('لطفا رزومه خود را آپلود کنید')">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <label class="control-label" for="rahyarResume">آپلود رزومه</label>
                                <br />
                                <label class="control-label text-danger" for="rahyarResume">نکته: فایل مورد نظر حتما باید به صورت pdf باشد</label>
                                <input class="" name="rahyarResume" id="rahyarResume" type="file" required
                                       oninvalid="this.setCustomValidity('لطفا رزومه خود را آپلود کنید')" accept=".pdf">
                            </div>
                        </div>
                        <button class="btn btn-grad btn-block text-white mb-3 py-2" type="submit">تایید اطلاعات و ثبت نام<i class="fa fa-chevron-left mr-2"></i> </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
