@page
@model ServiceHost.Pages.SuccessRegisterModel

    @{

    }

    <section class="container-fluid mt-3 error404">
        <div class="container p-md-5 box p-4">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="alert alert-success my-3" role="alert">
                        <i class="fa fa-check text-grad ml-1"></i>
                        <span class="IRANSansWeb_Medium">
                            <strong>
                                ثبت نام شما با موفقیت انجام شد. در صورت نیاز همکاران ما، با شما تماس خواهند گرفت.
                            </strong>
                        </span>
                    </div>
                    <a asp-page="/Index"class="btn btn-grad text-white mt-3">بازگشت به صفحه اصلی</a>
                </div>
            </div>
        </div>
    </section>